<h1 class="text-center mt-4"><%= @place["name"] %></h1>

<div class="container mt-4">
   <h2 class="mb-3">My Entries</h2>
     <div class="row">
     <% @entries.each do |entry| %>
       <div class="col-md-4 mb-4">
         <div class="card shadow-sm">
           <% if entry.image.attached? %>
             <img src="<%= url_for(entry.image) %>" class="card-img-top" alt="Entry Image">
           <% end %>
           <div class="card-body">
             <h5 class="card-title"><%= entry["title"] %></h5>
             <h6 class="card-subtitle text-muted"><%= entry["occurred_on"] %></h6>
             <p class="card-text"><%= entry["description"] %></p>
           </div>
         </div>
       </div>
     <% end %>
   </div>

  <div class="d-flex justify-content-between mt-4">
     <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-primary">New Entry</a>
     <a href="/places" class="btn btn-secondary">Back to All Places</a>
   </div>
 </div>